# Carpeta de migraciones
citas_app/migrations/__pycache__/

# Directorios de archivos generados por Docker y tu entorno virtual
entorno_medapp/
__pycache__/
venv/

# Directorios y archivos específicos de la aplicación
test/
db.sqlite3

# Archivos y directorios generados por Docker
docker-compose.yml
Dockerfile

# Archivo generado por Django
manage.py

# Archivo de requisitos de Python
requirements.txt
