{% extends "doctors/doctors_index.html" %}

<!-- inicio_seccion_principal_02 -->
{% block seccion_principal_02 %}
    <div class="col-md-12 bg-white p-2 mt-2" style="border-radius: 15px;">
        <input type="text" id="searchInput" class="form-control mt-3" placeholder="Buscar información">
        <table class="table table-striped table-inverse table-responsive">
            <thead class="thead-inverse">
                <div class="row">
                    <p class="col-md-4 pt-3">
                        <strong>Total de citas almacenadas: {{ total_citas }}</strong>
                    </p>
                    <p class="col-md-4 pt-3">
                        <strong>Total pacientes registrados: {{ pacientes }}</strong>
                    </p>
                    <p class="col-md-4 pt-3">
                        <strong>Medicos disponibles: {{ medicos }}</strong>
                    </p>
                </div>
                <tr class="p-1"><hr>
                    <th class="table-primary p-1">Cod Cita</th>
                    <th class="table-primary p-1">Paciente</th>
                    <th class="table-primary p-1">Doctor@</th>
                    <th class="table-primary p-1">Fecha Programada</th>
                    <th class="table-primary p-1">Hora</th>
                    <th class="table-primary p-1">Motivo</th>
                    <th class="table-primary p-1">Estado</th>
                </tr>
            </thead>
            <tbody>
                {% if citas %}
                    {% for cita in citas %}
                        <tr>
                            <td>{{ cita.id }}</td> 
                            <td>{{ cita.paciente }}</td> 
                            <td>{{ cita.medico.apellido_medico }}</td> 
                            <td>{{ cita.fecha|date:"l, d F Y" }}</td>
                            <td>{{ cita.hora|time:"H:i" }}</td>
                            <td>{{ cita.motivo }}</td>
                            {% if cita.confirmado %}
                                {% if cita.completada %}
                                    <td class="bg-info text-dark card border rounded border-1">Finalizada</td>  
                                {% else %}
                                    <td class="bg-success text-dark card border rounded border-1">Confirmada</td>                            
                                {% endif %}  
                            {% else %}
                                <td class="bg-warning text-dark card border rounded border-1">Solicitada</td>
                            {% endif %}                            
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td class="text-secondary">No hay citas por el momento</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock seccion_principal_02 %}
<!-- fin_seccion_principal_02 -->
