{% extends "doctors/doctors_index.html" %}

<!-- inicio_seccion_principal_02 -->
{% block seccion_principal_02 %}    
    <div class="container col-sm-12 col-md-6 col-lg-10 container-transition card p-3">
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="row">
                <!-- Usuario Form -->
                <div class="col-12 col-md-6">
                    <fieldset>
                        <legend class="text-secondary">Datos Usuario</legend>
                        <div class="form-group">
                            <label for="{{ user_form.username.id_for_label }}" class="col-lg-2 control-label">{{ user_form.username.label_tag }}</label>
                            <div class="col-lg-10">
                                {{ user_form.username }}
                                {{ user_form.username.errors }}
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ user_form.password1.id_for_label }}" class="col-lg-2 control-label">{{ user_form.password1.label_tag }}</label>
                            <div class="col-lg-10">
                                {{ user_form.password1 }}
                                {{ user_form.password1.errors }}
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ user_form.password2.id_for_label }}" class="col-lg-2 control-label">{{ user_form.password2.label_tag }}</label>
                            <div class="col-lg-10">
                                {{ user_form.password2 }}
                                {{ user_form.password2.errors }}
                            </div>
                        </div>
                    </fieldset>
                </div>
                
                <!-- Médico Form -->
                <div class="col-12 col-md-6">
                    <fieldset>
                        <legend class="text-secondary">Datos Personales</legend>
                        <div class="form-group">
                            <label for="{{ medico_form.nombre_medico.id_for_label }}" class="col-lg-2 control-label">{{ medico_form.nombre_medico.label_tag }}</label>
                            <div class="col-lg-10">
                                {{ medico_form.nombre_medico }}
                                {{ medico_form.nombre_medico.errors }}
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ medico_form.apellido_medico.id_for_label }}" class="col-lg-2 control-label">{{ medico_form.apellido_medico.label_tag }}</label>
                            <div class="col-lg-10">
                                {{ medico_form.apellido_medico }}
                                {{ medico_form.apellido_medico.errors }}
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="{{ medico_form.especialidad_medico.id_for_label }}" class="col-lg-2 control-label">{{ medico_form.especialidad_medico.label_tag }}</label>
                            <div class="col-lg-10">
                                {{ medico_form.especialidad_medico }}
                                {{ medico_form.especialidad_medico.errors }}
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="submit" class="btn btn-primary mt-3">Registrar Médico</button>
                        </div>
                    </div>
                </div>  
            </div>
        </form>        
    </div>        
{% endblock seccion_principal_02 %}
<!-- fin_seccion_principal_02 -->
